body {
    font-family: 'CookieRun-Regular', sans-serif;
  }

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arona {
    height: 200px;
    width: 200px;
}

em {
    font-style: normal;
    font-weight: 700;
    color: #FFB3D9;
  }


@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }